/*||Resets--------------------------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*|| Colour Variables --------------------------------------------------------------------------------------------------*/

:root {
    --clr-light-background: #F4EFDF;
    --clr-dark-background: #29557D;
    --clr-line-stroke: #002C54;
    --clr-light-accent: #79ADDD;
}

/*|| Main --------------------------------------------------------------------------------------------------*/

main {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h1 {
    font-family: 'Abril Fatface', cursive;
}

p, input, h2, h3 {
    font-family: 'Comic Neue', cursive;
    font-size: 1.5rem;
    font-weight: bolder;
}

/*|| Left Conatiner --------------------------------------------------------------------------------------------------*/


/* Clock */
.clock-search-grid {
    height: 100vh;
    display: grid;
    grid-template-rows: 2fr 2fr;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10vw;
}

.clock {
    user-select: none;
    font-size: 12rem;
    color: transparent;
    -webkit-text-stroke-width: 3.5px;
    -webkit-text-stroke-color: var(--clr-line-stroke);
    /* text-shadow: -8px -8px 0 var(--clr-light-accent); */
    margin: auto auto 0 auto;
    justify-self: center;
}

/* Search Bar */
.search-widget {
    display: inline-flex;
    /* justify-content: space-between; */
    justify-self: center;
    margin: 4em auto auto auto;

}

.search-input {
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: solid 3.5px var(--clr-line-stroke);
    width: 10em;
    padding: 0.3em;
    color: var(--clr-line-stroke);
    caret-color: var(--clr-line-stroke);
}

/* Logo Switch */

input[type="radio"] {
    opacity: 0;
    width: 0;
    height: 0;
}

.search-widget label {
    position: relative;
    right: 1.5em;
    cursor: pointer;
}


input[type="radio"] + label svg {
    opacity: 0.6;
}

input[type="radio"]:hover + label svg {
    transform: scale(1.1);
    transition: 0.1s ease;
}

input[type="radio"]:checked + label svg {
    opacity: 1;
} 

input[type="radio"]:active + label svg {
    opacity: 1;
}

input[type="radio"]:checked + label::after {
    content: "";
    width: 2em;
    height: 2em;
    background-color: var(--clr-light-accent);
    position: relative;
    z-index: -1;
}

/*|| Right Container --------------------------------------------------------------------------------------------------*/

.widget-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 3em;
    margin: auto 15vw auto auto;
}

.widget {
    position: relative;
    width: 8em;
    height: 8em;
    background: transparent;
    fill: none;
    outline: solid 3.8px var(--clr-line-stroke);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wbr:after {
    content: "";
    width: 8em;
    height: 8em;
    background-color: var(--clr-light-accent);
    position: absolute;
    z-index: -1;
    top: 10px;
    right: -10px;
    transition: 0.3s ease;
}

.wtr:after {
    content: "";
    width: 8em;
    height: 8em;
    background-color: var(--clr-light-accent);
    position: absolute;
    z-index: -1;
    top: -13px;
    right: -9px;
    transition: 0.3s ease;
}

.wbl:after {
    content: "";
    width: 8em;
    height: 8em;
    background-color: var(--clr-light-accent);
    position: absolute;
    z-index: -1;
    top: 10px;
    right: 10px;
    transition: 0.3s ease;
}

.wtl:after {
    content: "";
    width: 8em;
    height: 8em;
    background-color: var(--clr-light-accent);
    position: absolute;
    z-index: -1;
    top: -8px;
    right: 11px;
    transition: 0.3s ease;
}

.wtl:hover:after, .wbl:hover:after, .wtr:hover:after, .wbr:hover:after {
    top: 0;
    right: 0;
    cursor: pointer;
}

a:hover svg {
    transition: 0.1s ease-in-out;
    transform: scale(1.05);
}

.current-temp {
    font-size: 3.2rem;
    color: var(--clr-line-stroke);
    user-select: none;
    cursor: pointer;
}

/* #minMaxTempDisplay {
    display: none;
} */

/* .temp-widget:hover > #currentTempDisplay {
    display: none;
} */

/* .temp-widget:hover > #minMaxTempDisplay {
    display: block;
    max-width: 90%;
    text-align: center;
    color: var(--clr-line-stroke);
} */

.loading-spinner {
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(359deg);
    }
}

/*|| Dark Mode Switch --------------------------------------------------------------------------------------------------*/

.theme-toggle {
    position: fixed;
    top: 2em;
    right: 4em;
}

/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: fixed;
    top: 2em;
    right: 4em;
    display: inline-block;
    width: 3.2em;
    height: 1.55em;
   }
   
   /* Hide default HTML checkbox */
   .switch input {
    opacity: 0;
    width: 0;
    height: 0;
   }
   
   /* The slider */
   .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--clr-light-accent);
    transition: .4s;
    border-radius: 30px;
   }
   
   .slider:before {
    position: absolute;
    content: "";
    height: 1em;
    width: 1em;
    border-radius: 20px;
    left: 0.3em;
    bottom: 0.3em;
    background-color: var(--clr-light-background);
    transition: .4s;
   }
   
   input:checked + .slider {
    background-color: var(--clr-line-stroke);
   }
   
   input:focus + .slider {
    box-shadow: 0 0 1px var(--clr-line-stroke);
   }
   
   input:checked + .slider:before {
    transform: translateX(1.5em);
   }

/*|| Update Location Button --------------------------------------------------------------------------------------------------*/

.update-location-widget {
    position: fixed;
    display: inline-flex;
    flex-direction: row-reverse;
    bottom: 2em;
    right: 4em;
}

.location-data {
    position: relative;
    color: var(--clr-line-stroke);
    /* transform: scale(0, 1); */
    opacity: 0;
	transform-origin: right;
    user-select: none;
    align-self: center;
    margin-right: 0.5em;
}

.location-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.location-button:hover {
    transform: scale(1.2);
    transition: 0.2s ease;
}

.location-button:active {
    transform: scale(1);
}

.location-button:hover + .location-data {
    opacity: 1;
    transition: 0.75s ease;
}